extends layout

block content
    div(class="post")
        img(src=post.pic)
        p=post.content

block comment
    div(class="comment")
        // - var url = "https://thispersondoesnotexist.com/image"
        // img(src=url style="width:42px")
        - var url = "https://thisanimedoesnotexist.ai/results/psi-1.0/seed"+comment.pic+".png"
        img(src=url)
        p=comment.text