doctype html
html
    head
        title= "Cool catz"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/cat-face_1f431.png')
        audio(controls='', autoplay='autoplay')
            source(src=audio_src, type='audio/mpeg')
    body
        div(class="page_wrapper", style = "background-image:url(" + img_url + ") ;")
            p(class="main-text")="CATZ ARE COOL!!!!"
            div(class="content_wrapper")
                div(class="comment_block")
                    div(class="comment_input")
                        form(method="post")
                            textarea(name="comm_input")
                            button="post"
                    each comment in comments
                        block comment
                div(class="image_block")
                    div(class="image_wrapper")
                        each post in posts
                            block content
    script="let aud = document.querySelector('audio'); aud.play()"
